// @import 'yoga';
// @import 'normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome';
@import 'box-sizing';

#alerts {
  position: fixed;
  top: 1rem;
  right: 1rem;
}

.alert {
  position: relative;

  margin: 0;
  margin-top: 1rem;

  box-shadow: 0.2rem 0.2rem 0.1rem rgba(0, 0, 0, 0.1);

  overflow: auto;

  &__content {
    margin: 1rem;
  }

  &__close {
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
  }

  &:first-of-type {
    margin-top: 0;
  }
}
